
  <div class="container">
  
    <main>
      <h1>Create</h1>
      <div class="form">
        <form action='/create/cube' method="POST">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" value="{{name}}">
          <label for="name">Description</label>
          <textarea id="name" name="description">{{description}}</textarea>
          <label for="image">ImageUrl</label>
          <input type="text" id="image" name="imgURL" value="{{imgURL}}">
          <label for="difficulty">Difficulty</label>
          <select id="difficulty" name="difficulty">
            <option value="1">1 - Very Easy</option>
            <option value="2">2 - Easy</option>
            <option value="3">3 - Medium (Standard 3x3)</option>
            <option value="4">4 - Intermediate</option>
            <option value="5">5 - Expert</option>
            <option value="6">6 - Hardcore</option>
          </select>
          <input type="submit" value="Create">
        </form>
      </div>
    </main>
  </div>
  <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
<script>
  //add js for the error validation
</script>